<!-- core/templates/core/track_detail.html -->
{% extends "base.html" %}

{% block title %}{{ track.title }} - Track Details{% endblock %}

{% block content %}
<h1>{{ track.title }}</h1>
<p>Genre: {{ track.genre }}</p>
<button 
class="btn-play play-button" 
data-track-src="{{ track.file.url }}" 
data-track-artist="{{ track.artist.profile.name }}" 
data-track-title="{{ track.title }}" 
{% if track.cover_image %} data-cover="{{ track.cover_image.url }}" {% endif %}>
<i class="fas fa-play"></i> Play
</button>
{% endblock %}
