<div class="player">
    <div class="current-track clearfix">
        <div class="canvas-toggle collapsed" id="toggle-canvas">
            <i class="fas fa-caret-down"></i>
        </div>
        <div class="track-meta">
            <h3 class="track-artist"></h3>
            <h2 class="track-name"></h2>
        </div>
        <div class="ToggleSection" style="display: none;">
            <div class="canvas clearfix">
                <audio crossorigin="anonymous" id="mp3" src=""></audio>
                <canvas id="canvas" width="256" height="256"></canvas>
                <div style="" class="overlay" id="play"></div>
                <input type="range" name="volume" id="volume" value="100">
            </div>
            <div class="controls">
                <div class="shuffle" id="shuffle"><i class="fas fa-random"></i></div>
                <div class="previous" id="previous"><i class="fas fa-step-backward"></i></div>
                <div class="next" id="next"><i class="fas fa-step-forward"></i></div>
                <div class="repeat" id="repeat"><i class="fas fa-redo"></i></div>
                <div class="like" id="like"><i class="fas fa-heart"></i></div>
            </div>
        </div>
    </div>
    <div class="track-list clearfix" id="tracklist">
        <h2 style="margin:0;" class="track-list-title">
            Tracklist
        </h2>
        <div class="closer" id="tracklist-control"></div>
    </div>
</div>

<style>
    body {
        margin: 0;
        background: #e3e3e3;
        font-family: 'Raleway', sans-serif;
    }
    
    *, *:before, *:after {
        box-sizing: border-box;
    }
    
    .clearfix:before,
    .clearfix:after {
        clear: both;
        content: '';
        display: table;
    }
    
    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
    }
    
    .player {
        position: relative;
        width: 320px;
        background: #fff;
        box-shadow: 0 3px 5px rgba(0,0,0,0.3);
        min-height: 100px;
        margin: 16px auto;
        overflow: hidden;
        padding-bottom: 60px;
        border-radius:10px;
    }
    
    .current-track {
        text-align: center;
        padding: 10px 0 16px 0;
    }
    
    .track-list {
        position: absolute;
        top: calc(100% - 60px);
        padding: 16px;
        background: #f3f3f3;
        width: 100%;
        height: 100%;
        box-shadow: 0 -2px 3px rgba(0,0,0,0.15);
        overflow-y: visible;
        transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    
    .track-list.active {
        top: 0;
        overflow: auto;
    }
    
    .track-list.active .closer:before {
        box-shadow: 
            -9px -9px 0 0 #333,
            -6px -9px 0 0 transparent,
            6px -6px 0 0 #333,
            0px -9px 0 0 transparent,
            3px -3px 0 0 #333,
            6px -9px 0 0 transparent,
            9px -9px 0 0 #333;
    }
    
    .closer {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        transition: background 0.3s;
    }
    
    .closer:hover {
        background: rgba(0,0,0,0.1);
    }
    
    .closer:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0px);
        height: 3px;
        width: 3px;
        transition: box-shadow 0.3s cubic-bezier(0.4, 0.0, 0.2, 1),
                    width 0.3s cubic-bezier(0.4, 0.0, 0.2, 1),
                    height 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
        background: #333;
        border: none;
        margin: 0;
        border-radius: 0;
        box-shadow: 
            -9px -6px 0 0 #333,
            -3px -6px 0 0 #333,
            0px -6px 0 0 #333,
            3px -6px 0 0 #333,
            6px -6px 0 0 #333,
            9px -6px 0 0 #333,
            -9px 0px 0 0 #333,
            -3px 0px 0 0 #333,
            3px 0px 0 0 #333,
            9px 0px 0 0 #333,
            -9px 6px 0 0 #333,
            -3px 6px 0 0 #333,
            0px 6px 0 0 #333,
            3px 6px 0 0 #333,
            9px 6px 0 0 #333;
    }
    
    .track-meta {
        padding: 0 0 10px 0;
    }
    
    .track-meta .track-artist {
        margin: 0;
        font-size: 16px;
    }
    
    .track-meta .track-name {
        margin: 0;
        font-size: 26px;
    }
    
    .controls {
        position: relative;
        width: 100%;
        text-align: center;
        padding-top: 16px;
    }
    
    .controls > div {
        display: inline-block;
        margin: 0 8px;
        cursor: pointer;
        transition: background 0.3s;
    }
    
    .controls > div:hover {
        background: rgba(0,0,0,0.2);
    }
    
    .controls > div i {
        font-size: 32px;
        padding: 8px;
        transition: color 0.3s;
    }
    
    .controls .active, .controls .active i {
        background: rgba(0,0,0,0.1);
        color: #0c8;
    }
    
    .canvas, canvas {
        position: relative;
        margin: 0 auto;
        height: 256px;
        width: 256px;
    }
    
    .canvas {
        transform: rotate(180deg);
    }
    
    .canvas .overlay {
        background: rgba(0, 0, 0, 0.2);
        cursor: pointer;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        transition: all 0.3s;
        background-size: cover; /* Ensure the background covers the entire overlay */
        background-position: center; /* Center the background image */
        transform: rotate(180deg);
    }
    
    
    .canvas .overlay:after,
    .canvas .overlay:before {
        content: '';
        left: 50%;
        position: absolute;
        top: 50%;
    }
    
    .canvas .overlay:after {
        border: 50px solid transparent;
        border-left-color: rgba(0, 0, 0, 0.2);
        border-left-width: 75px;
        box-sizing: content-box;
        height: 0;
        transform: translate(-25px, -50px);
        transition: border-left-color 0.3s;
        width: 0;
    }
    
    .canvas .overlay:before {
        border: 10px solid rgba(0, 0, 0, 0.2);
        border-radius: 100%;
        height: 140px;
        transform: translate(-50%, -50%);
        transition: all 0.3s;
        width: 140px;
    }
    
    .canvas .overlay[playing='playing']:after,
    .canvas .overlay:hover:after {
        border-left-color: rgba(0, 0, 0, 0.1);
    }
    
    .canvas .overlay[playing='playing']:before,
    .canvas .overlay:hover:before {
        border-color: rgba(0, 0, 0, 0.1);
    }
    
    .canvas .overlay[playing='playing'] {
        opacity: .2;
    }
    
    .canvas .overlay[playing='playing']:hover {
        opacity: 1;
    }
    
    .canvas .overlay[playing='playing']:after {
        border-right-color: rgba(0, 0, 0, 0.1);
        border-width: 10px;
        height: 80px;
        width: 30px;
    }
    
    .canvas input[type=range] {
        -webkit-appearance: none;
        margin: 0;
        opacity: .8; /* Make the slider fully visible */
        padding: 10px 0;
        position: absolute;
        transform-origin: 0 0 0;
        transition: all 0.3s;
        width: 100%;
    }
    
    .canvas input[type=range]#volume {
        right: 0;
        top: 0;
        transform: rotate(90deg);
    }
    
    .canvas input[type=range]:focus {
        outline: none;
    }
    
    .canvas input[type=range]::-webkit-slider-runnable-track {
        background: #28a745; /* Primary green color for the thumb */
        border-radius: 1em;
        cursor: pointer;
        height: 10px;
        width: 100%;
    }
    
    .canvas input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: #28a745; /* Primary green color for the thumb */
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
        border-radius: 100%;
        cursor: pointer;
        height: 16px;
        margin-top: -3px;
        width: 16px;
    }
    
    .canvas input[type=range]::-moz-range-track {
        background: #28a745; /* Primary green color for the thumb */
        border-radius: 1em;
        cursor: pointer;
        height: 10px;
        width: 100%;
    }
    
    .canvas input[type=range]::-moz-range-thumb {
        background: #28a745; /* Primary green color for the thumb */
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
        border-radius: 100%;
        cursor: pointer;
        height: 16px;
        width: 16px;
    }    

    /* Style for the toggle carrot */
    .canvas-toggle {
        text-align: right;
        padding: 5px 10px;
        cursor: pointer;
        padding: auto;
    }

    .canvas-toggle i {
        display: flex;
        font-size: 20px;
        color: #333;
        transition: transform 0.3s ease;
        justify-content: center;
        align-items: center;
    }

    .canvas-toggle.collapsed {
        transform: rotate(-180deg);
    }

    #like {
        cursor: pointer;
        color: #ccc; /* Default color */
    }
    
    #like.liked {
        color: #e74c3c; /* Red color when liked */
    }
</style>

<script>
    
    class Helper {
        static get click(){
            return (navigator.userAgent.match(/iPad/i)) ? 'touchstart' : 'click';
        }
        
        static objectToMatrix(obj, cols) {
            let matrix = [],
                i = 0,
                len = obj.length,
                k = -1;
            while (i < len) {
                if (i % cols === 0) {
                    k++;
                    matrix[k] = [];
                }
                matrix[k].push(obj[i]);
                i++;
            }
            return matrix;
        }
    
        static render(fps, render) {
            let fpsInterval, startTime, now, then, elapsed;
    
            fpsInterval = 1000 / fps;
            then = Date.now();
            startTime = then;
    
            (function animate() {
                requestAnimationFrame(animate);
                now = Date.now();
                elapsed = now - then;
                if (elapsed > fpsInterval) {
                    then = now - (elapsed % fpsInterval);
                    render();
                }
            })();
        }
        
        static hasClass(element, cls){
            return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
        }
        
        static addClass(el, className) {
            if(el instanceof HTMLElement){
                if (el.classList) {
                    el.classList.add(className);
                } else {
                    el.className += ' ' + className;
                }
            } else {
                for(let i = 0, len = el.length; i < len; i++){
                    if (el[i].classList) {
                        el[i].classList.add(className);
                    } else {
                        el[i].className += ' ' + className;
                    }
                }
            }
        }
    
        static removeClass (el, className) {
            if(el instanceof HTMLElement){
                if (el.classList) {
                    el.classList.remove(className);
                } else {
                    el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
                }
            } else {
                for(let i = 0, len = el.length; i < len; i++){
                    if (el[i].classList) {
                        el[i].classList.remove(className);
                    } else {
                        el[i].className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
                    }
                }
            }
        }
        
        static closest(el, selector) {
            let matchesFn; 
            [
                'matches',
                'webkitMatchesSelector',
                'mozMatchesSelector',
                'msMatchesSelector',
                'oMatchesSelector'
            ].some(function(fn) {
                if (typeof document.body[fn] == 'function') {
                    matchesFn = fn;
                    return true;
                }
                return false;
            })
    
            let parent;
            while (el) {
                parent = el.parentElement;
                if (parent && parent[matchesFn](selector)) {
                    return parent;
                }
                el = parent;
            }
    
            return null;
        }
    }
    
    class MusicPlayer {
        constructor(ctx, opts) {
            this.ctx = ctx;
            this.divider = this.constructor.DEFAULTDIVIDER;
            this.filter = this.constructor.DEFAULTFILTER;
    
            if (typeof opts.tracks === 'object') {
                this.makeTracks(opts.tracks);
            }
    
            this.audioSetup(); // Ensure audio is set up before anything else
    
            this.track = document.querySelector('.track');
            this.tracklistControls()
                .loadTrack()
                .render()
                .playCurrentTrack()
                .changeVolume()
                .changeTrack()
                .events();
    
            if (typeof opts.autoplay === 'boolean' && opts.autoplay) {
                this.playTrack();
            }
        }
        
        static get DEFAULTDIVIDER() {
            return 32;
        }
        
        static get DEFAULTFILTER() {
            return 0;
        }
        
        get ctx() {
            return this._ctx;
        }
        
        set ctx(val) {
            this._ctx = val;
        }
        
        get divider() {
            return this._divider;
        }
        
        set divider(val) {
            this._divider = val;
        }
        
        get filter() {
            return this._filter;
        }
        
        set filter(val) {
            this._filter = val;
        }
        
        get w(){
            return this.ctx.canvas.width / this.divider;
        }
        
        get h(){
            return this.ctx.canvas.height / this.divider;
        }
        
        get audio() {
            return this._audio;
        }
        
        set audio(val) {
            this._audio = val;
        }
        
        get track() {
            return this._track;
        }
        
        set track(val) {
            this._track = val;
        }
        
        get tracks(){
            return this._tracks = document.querySelectorAll('.track');
        }
        
        set tracks(val){
            this._tracks = val;
        }
        
        get shuffling() {
            return this._shuffling;
        }
        
        set shuffling(val) {
            this._shuffling = val;
        }
        
        get repeating() {
            return this._repeating;
        }
        
        set repeating(val) {
            this._repeating = val;
        }

        audioSetup() {
            if (!this.audio || !this.audio.ctx) {
                let audioCtx = new (window.AudioContext || window.webkitAudioContext)();
                let audio = document.getElementById('mp3');
                let src = audioCtx.createMediaElementSource(audio);
                let analyser = audioCtx.createAnalyser();
                let data = new Uint8Array(analyser.frequencyBinCount);
    
                src.crossOrigin = 'anonymous';
                src.connect(analyser);
                analyser.connect(audioCtx.destination);
    
                this.audio = {
                    ctx: audioCtx,
                    el: audio,
                    src: src,
                    analyser: analyser,
                    data: data
                };
            }
    
            return this;
        }
        
        ensureAudioContextIsResumed() {
            if (this.audio && this.audio.ctx.state === 'suspended') {
                this.audio.ctx.resume().then(() => {
                    console.log('AudioContext resumed');
                }).catch(error => {
                    console.error('Error resuming AudioContext:', error);
                });
            }
        }

        playCurrentTrack() {
            let playel = document.getElementById('play'),
                Player = this;
    
            playel.addEventListener(Helper.click, function (e) {
                Player.ensureAudioContextIsResumed();
    
                if (Helper.hasClass(Player.track, 'active')) {
                    Player.pauseTrack();
                } else {
                    Player.playTrack();
                }
            });
    
            return Player;
        }
        
        changeVolume() {
            let volume = document.getElementById('volume'), Player = this;
            volume.addEventListener('input', function() {
                Player.audio.el.volume = this.value / 100;
            });
            volume.addEventListener('change', function() {
                Player.audio.el.volume = this.value / 100;
            });
            
            return this;
        }
        
        tracklistControls(){
            let control = document.getElementById('tracklist-control');
            let tracklist = document.getElementById('tracklist');
            control.addEventListener(Helper.click, function(e){
                let parent = Helper.closest(e.target, '.track-list');
                if(Helper.hasClass(parent, 'active')){
                    Helper.removeClass(parent, 'active');
                } else {
                    Helper.addClass(parent, 'active');
                }
            });
            return this;
        }
        
        makeTrack(track, i){
            let t = document.createElement('div');
            t.setAttribute('track-number', i);
            t.setAttribute('audio-src', track.src);
            t.setAttribute('artist', track.artist);
            Helper.addClass(t, 'track');
            
            let icon = document.createElement('i');
            Helper.addClass(icon, 'material-icons');
            icon.appendChild(document.createTextNode('play_circle_outline'));
            
            let name = document.createElement('span');
            name.appendChild(document.createTextNode(track.name));
            
            t.appendChild(icon);
            t.appendChild(name);
            
            return t;
        }
        
        makeTracks(tracks){
            let tracklist = document.querySelector('.track-list');
            for(let i = 0, len = tracks.length; i < len; i++){
                tracklist.appendChild(this.makeTrack(tracks[i], i));
            }
            this.tracks = tracks;
        }
        
        changeTrack(){
            let Player = this;
            for(let i = 0, len = Player.tracks.length; i < len; i++){
                Player.tracks[i].addEventListener(Helper.click, function(e) {
                    if(Helper.hasClass(e.target, 'track')){
                        if(Player.track != e.target){
                            Player.track = e.target;
                        }
    
                        if(Helper.hasClass(e.target, 'active')){
                            Player.pauseTrack();
                        } else {
                            Player.loadTrack(true);
                            Helper.removeClass(Helper.closest(e.target, '.track-list'), 'active');
                        }
                    }
                    e.stopPropagation();
                    return false;
                });
            }
            
            return this;
        }
        
        playPreviousTrack(){
            let current = parseInt(this.track.getAttribute('track-number'));
            let previous = (current <= 0) ? this.tracks.length - 1 : current - 1;
            this.track = this.tracks[previous];
            this.loadTrack(true);
            
            return this;
        }
        
        playNextTrack(){
            let current = parseInt(this.track.getAttribute('track-number'));
            let next = (current > this.tracks.length) ? 0 : current + 1;
            this.track = this.tracks[next];
            this.loadTrack(true);
            
            return this;
        }
        
        shuffle(){
            let tracknumber = Math.floor((Math.random() * this.tracks.length));
            while(tracknumber == parseInt(this.track.getAttribute('track-number'))){
                tracknumber = Math.floor((Math.random() * this.tracks.length));
            }
            this.track = this.tracks[tracknumber];
            this.loadTrack(true);
            
            return this;
        }
        
        loadTrack(autoplay = false) {
            if (!this.audio || !this.audio.el) {
                console.error("Audio element is not defined. Make sure `audioSetup` is called before `loadTrack`.");
                return this;
            }
    
            this.audio.el.removeAttribute('src');
            this.audio.el.setAttribute('src', this.track.getAttribute('audio-src'));
    
            let artist = document.querySelector('.track-artist');
            let name = document.querySelector('.track-name');
    
            artist.innerText = this.track.getAttribute('artist');
            name.innerText = this.track.querySelector('span').innerText;
    
            if (autoplay) {
                this.playTrack();
            }
    
            return this;  // Return `this` to allow method chaining
        }

        render() {
            let Player = this;
            Helper.render(60, function() {
                if (!Player.audio.el.paused) {
                    Player.audio.analyser.getByteFrequencyData(Player.audio.data);
                    let data = Helper.objectToMatrix(Player.audio.data, Player.divider);
                    let y = data.length, x = Player.divider;
                    while (y--) {
                        while (x--) {
                            let alpha = data[y][x];
                            if ((alpha - Player.filter) > 0) {
                                alpha = (alpha - Player.filter) / 255;
                            } else {
                                alpha = 0;
                            }
                            Player.ctx.clearRect(x * Player.w, y * Player.h, Player.w, Player.h);
                            Player.ctx.fillStyle = 'rgba(40, 167, 69,' + alpha + ')';
                            Player.ctx.fillRect(x * Player.w, y * Player.h, Player.w, Player.h);
                        }
                        x = Player.divider;
                    }
                }
            });
            return this;  // Return `this` to allow method chaining
        }
        
        playTrack(){
            Helper.removeClass(this.tracks, 'active');
            let icons = document.getElementById('tracklist').querySelectorAll('.material-icons');
            for(let j = 0, jlen = icons.length; j < jlen; j++){
                icons[j].innerHTML = 'play_circle_outline';
            }
            
            Helper.addClass(this.track, 'active');
            this.track.querySelector('.material-icons').innerHTML = 'pause_circle_outline';
            this.audio.el.play();
            this.audio.el.crossOrigin = 'anonymous';
            this.audio.el.volume = volume.value / 100;
            document.getElementById('play').setAttribute('playing', 'playing');
            
            let Player = this;
            this.audio.el.addEventListener('ended', function(){
                Player.audio.el.currentTime = 0;
                Player.audio.el.pause();
                if(Player.shuffling){
                    Player.shuffle();
                } else {
                    if(parseInt(Player.audio.el.getAttribute('track-number')) < Player.tracks.length){
                        Player.playNextTrack();
                    } else {
                        if(Player.repeating){
                            Player.playNextTrack();
                        }
                    }
                }
            });
        }
        
        pauseTrack(){
            Helper.removeClass(this.track, 'active');
            this.track.querySelector('.material-icons').innerHTML = 'play_circle_outline';
            this.audio.el.pause();
            document.getElementById('play').removeAttribute('playing');
            
            return this;
        }
        
        events(){
            let Player = this;
            document.querySelector('.shuffle').addEventListener(Helper.click, function(e){
                Helper.removeClass(document.querySelectorAll('.controls div'), 'active');
                Player.repeating = false;
                if(Player.shuffling){
                    Player.shuffling = false;
                } else {
                    Player.shuffling = true;
                    Helper.addClass(e.target, 'active');
                }
            });
            document.querySelector('.repeat').addEventListener(Helper.click, function(e){
                Helper.removeClass(document.querySelectorAll('.controls div'), 'active');
                Player.shuffling = false;
                if(Player.repeating){
                    Player.repeating = false;
                } else {
                    Player.repeating = true;
                    Helper.addClass(e.target, 'active');
                }
            });
            document.querySelector('.next').addEventListener(Helper.click, function(){
                Player.shuffling = false;
                Player.playNextTrack();
            });
            document.querySelector('.previous').addEventListener(Helper.click, function(){
                Player.shuffling = false;
                Player.playPreviousTrack();
            });
        }
    }
    
    // Initialize the MusicPlayer on page load
    window.onload = function () {
        let trackSrc = localStorage.getItem('trackSrc') || '';
        let trackName = localStorage.getItem('trackTitle') || '';
        let trackArtist = localStorage.getItem('trackArtist') || '';

        let tracklist = [
            {
                src: trackSrc,
                name: trackName,
                artist: trackArtist
            }
        ];

        let ctx = document.getElementById('canvas').getContext('2d');
        let player = new MusicPlayer(ctx, {
            tracks: tracklist
        });

        if (trackSrc) {
            player.loadTrack();
        }
    };
    
</script>
